<div>
    <h2>
        Name: <%= link_to drug.name, drug_path(drug) %>
    </h2>
    <h3>
        Registration No.: <%= drug.registration_no %>
    </h3>
        <%= render "products/button", drug: drug, product: product_in_index(drug) %>
</div>