<% if object.errors.any? %>
    <div>
        <div class="fs-4 fst-italic">
            Your form could not be saved.
        </div>
        <div class="fs-6 fw-light fst-italic">
            Please correct the following
            <%= pluralize(object.errors.size, "error") %>:
        </div>
        <ul class="fs-6 fw-light fst-italic">
            <% object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>