<div class="container-fluid" id="flash">
  <% flash.each do |key, value| %>
    <% if key == "notice" %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% elsif key == "alert" %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
</div>