<% @workplaces.each do |workplace| %>
    <div>
        Welcome to
        <%= link_to workplace.name, workplace_path(workplace) %>
        's Website !!!
    </div>
    <div>
        <%= workplace.description %>
    </div>
<% end %>