<div id=account_settings>
    <% if current_user %>
        <li>
            <%= button_to "Account Settings", edit_user_registration_path(current_user), method: :get %>
        </li>
        <li>
            <%= button_to "Sign Out", signout_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
        </li>
    <% else %>
        <li>
            <%= button_to "Sign In", signin_path, method: :get %>
        </li>
        <li>
            <%= button_to "Sign Up", signup_path, method: :get %>
        </li>
    <% end %>